*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body{
  overflow-x: hidden;
}

.card {
  border: none;
  border-radius: 20px;
}

.form-control {
  height: 55px;
}

.btn-success {
  height: 55px;
  font-weight: bold;
}
